#first{
  margin-bottom: 10px;
  border-radius: 14px;
  background-color: white;
}
#second{
  margin-bottom: 20px;
  border-radius: 14px ;
  background: white;
 
}
#first:hover{

  font-size: 26px;
}
#second:hover{
  background-color: aliceblue;
  font-size: 26px;
}


