/* Container */
.header-container {
  padding: 50px 20px;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 5%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* Text Section */
.text-section {
  flex: 1;
  min-width: 300px;
}

.text-section h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #222;
}

.text-section p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: #555;
  line-height: 1.6;
}

/* Stats */
.stats {
  display: flex;
  gap: 30px;
  margin: 25px 0;
}

.stats div h2 {
  font-size: 2rem;
  color: #0077ff;
}

.stats div p {
  font-size: 0.95rem;
  color: #444;
}

/* Buttons */
.buttons {
  margin-top: 15px;
}

.view-work,
.connect {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

.view-work {
  background: #0077ff;
  color: #fff;
}

.view-work:hover {
  background: #005fcc;
}

.connect {
  background: #ddd5d5;
  color: #222;
  border:3px solid rgb(19, 100, 171);
  margin-left: 15px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.connect:hover {
  background: #ddd;
}

/* Image Section */
.image-section {
  flex: 1;
  
  text-align: right; /* image right me shift */
}

.image-section img {
  max-width: 800px;
  width: 110%;
  border-radius: 50%;
  object-fit: cover;
}

/* Responsive Design */
@media (max-width: 992px) {
  .row {
    flex-direction: column-reverse; /* mobile/tablet par image niche chala jayega */
    text-align: center;
  }

  .text-section {
    margin-top: 20px;
  }

  .stats {
    justify-content: center;
  }

  .image-section {
    text-align: center;
  }

  .image-section img {
    max-width: 300px;
  }
}

@media (max-width: 600px) {
  .text-section h1 {
    font-size: 2rem;
  }

  .stats {
    flex-direction: column;
    gap: 15px;
  }

  .view-work,
  .connect {
    width: 100%;
    margin: 8px 0;
    justify-content: center;
  }
}
